* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 

  

/* ------- GLOBAL COLORS */
    --color-purple: #633CFF;
    --color-purple-light: #BEADFF;
    --color-purple-pale: #EFEBFF;

    --color-black: #333333;
    --color-grey: #737373;
    --color-grey-light: #D9D9D9;
    --color-grey-pale: #FAFAFA;

    --color-white: #FFFFFF;
    
    --color-red: #FF3939;
  
    font-family: "InstrumentSans-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


/* ------- GLOBAL FONTS */
@font-face {
  font-family: "InstrumentSans-Bold";   
  src: local("InstrumentSans-Bold"),
    url("./assets/fonts/InstrumentSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "InstrumentSans-Regular";   
  src: local("InstrumentSans-Regular"),
    url("./assets/fonts/InstrumentSans-Regular.ttf") format("truetype");
}

.heading_m {
  font-family: "InstrumentSans-Bold" ;
  font-size: 32px;
  line-height: 150%;
}

.heading_s {
  font-family: "InstrumentSans-Bold" ;
  font-size: 16px;
  line-height: 150%;
}

.body_m {
  font-family: "InstrumentSans-Regular" ;
  font-size: 16px;
  line-height: 150%;
}

.body_s {
  font-family: "InstrumentSans-Regular" ;
  font-size: 12px;
  line-height: 150%;
}



/* ------- BUTTONS STYLES */

.btn_primary {
  border-radius: 8px;
  background: var(--color-purple, #633CFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 11px 27px;
  width: 227px;
  color: var(--color-white);
  font-family: "InstrumentSans-Bold" ;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}

.btn_primary:hover {
  background-color: var(--color-purple-light);
  border: 1px solid var(--color-purple-light);
}

.btn_primary:active {
  background-color: var(--color-purple-pale);
 color: var(--color-purple);
}

.btn_secondary {
  border-radius: 8px;
  border: 1px solid var(--color-purple, #633CFF);
  padding: 11px 27px;
  color: var(--color-purple, #633CFF);
  font-family: "InstrumentSans-Bold" ;
  font-size: 16px;
  line-height: 150%;
  background-color: var(--color-white);
}

.btn_secondary:hover {
  background-color: var(--color-purple-pale);
}

.btn_secondary:active {
  background-color: var(--color-purple-light);
  color: var(--color-white);
  border: 1px solid var(--color-purple-pale);}


/* ------- GLOBAL STYLES */
body {
  margin: 0;
  height: 100vh;
  background-color: var(--color-grey-pale);
  padding: 1em;
}

#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

.App {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 

}



.main_container {

  display: flex;
  gap: 1em;
  margin: 1em 0;
}





/* ------- NAVBAR STYLES */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--color-white, #FFF);
  padding: 16px 16px 16px 24px;
  border-radius: 12px;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  color: var(--color-black);
}

.nav_links_container {
  display: flex;
  align-items: center;
}

.nav_link {
  display: flex;
  padding: 11px 27px;
  align-items: center;
  text-decoration: none;
  color: var(--color-grey);
  gap: 0.25em;
}

.nav_link.active {
  padding: 11px 27px;
  border-radius: 8px;
  background: var(--color-purple-pale, #EFEBFF);

}

.nav_link:hover {
  color: var(--color-purple);
  cursor: pointer;
}


/* ------ LINKS PAGE STYLES */
.customise_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
  background-color: var(--color-white);
  border-radius: 12px;
}

.customize_wrapper p {
  margin: 0.5em 0 1em 0;
}

.customize_wrapper input {
  width: 100%;
  margin: 1em 0;
}




.links {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  margin: 1em 0 2em 0;
}

.btn_save_links {
  align-self: flex-end;
  padding: 11px;
  width: 160px;
  margin-top: 2em;
}


/* ------ LINK STYLES */

.link {
  background-color: var(--color-grey-pale);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 1em;
  padding: 1.5em;
}

.link_header {
  display: flex;
  justify-content: space-between;
}

.link_header input {
  border: none;
  background-color: var(--color-grey-pale);
  color: var(--color-grey)
}

.link_header input:hover {
  color: var(--color-grey-light)
}

.link_name {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--color-grey)
}

.link_platform
{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.link_platform select
 {
  background-color: var(--color-white);
  padding: 0.75em 1em;
  border-radius: 8px;
  border: 1px solid var(--color-grey-light);
  font-family: "InstrumentSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.link_url_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.link_url_wrapper input {
  background-color: var(--color-white);
  padding: 0.75em 1em;
  border-radius: 8px;
  border: 1px solid var(--color-grey-light);
  font-family: "InstrumentSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}


/* ------ MOCKUP STYLES */

.mockup {
  width: 40%;
  background-color: var(--color-white);
  border-radius: 12px;
  /* background-position: 50% 50%; */

}

.mockup_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0;
  /* justify-content: center; */

}

/* #mockup_phone{ 
  position: absolute;
  z-index: 0;

} */

.personal_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* z-index: 1; */
  gap: 0.5em;
}

.personal_info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--color-purple);
}

.mockup_name {
  color: var(--color-black);
font-family: "InstrumentSans-Bold";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}

.mockup_links {
  /* z-index: 1; */
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mockup_links p {
  display: flex;
height: 44px;
padding: 0.5em 1.25em;
align-items: center;
justify-content: space-between;
border-radius: 10px;
gap: 2em;

color: var(--color-white);
text-transform: capitalize;

}

.mockup_links a {
  text-decoration: none;
}


/* ------ GET STARTED STYLES */
.get_started {
  margin-top: 1em;
  background-color: var(--color-grey-pale);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 3em;
  gap: 2em;

}

.get_started img {
  width: 300px;
}

.get_started p {
  width: 60%;
  color: var(--color-grey);
  text-align: center;
}




