body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 0.5em;

}

.link_header {
  display: flex;
  padding: 1em;
  gap: 1em;

}

.link_body {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: blanchedalmond;
}

.main_container {
  width: 100%;
  display: flex;
}

.customise_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.mockup {
  width: 50%;
  padding: 2em;

}

.mockup {
  display: flex;
  justify-content: center;
}

.mockup_container {
  background-color: lightgrey;
  padding: 2em;
}
